body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  margin-bottom: 10px;
}

h3 {
  margin: 5px 0px;
  font-weight: normal;
}

input {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px 15px;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.05);
  color: #333;
}

.container {
  min-width: 40vw;
  display: flex;
  align-items: flex-start;
  padding: 3rem;
}

.column:first-child {
  justify-content: flex-start;
}

.column {
  height: 100%;
  width: 50%;
  padding: 10px 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}

.column:nth-child(2) {
  border: 1px solid #eee;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.05);
}

#generate {
  padding: 10px 20px;
  margin-top: 10px;
  background: #5e3;
  color: #fff;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

#generate:hover {
  cursor: pointer;
  background: #7e5;
}
